*{
    box-sizing: border-box;
}

body, html{
    background-color: #F9FCFF;
    height:100%;
    margin:0%;
    display: grid;
}
@media screen and (min-width:320px){
    .container {
            margin: auto;
            width: fit-content;
            /*center the container*/
        }
}

.chessboard{
background-color:#ffffff;
border:.65vmin solid black;
max-height: fit-content;
width: 100%;
}

.rankFile{
    display:grid;
    width:100%;
    grid-template-columns: repeat(8, 5em);
    grid-template-rows: 5em;
    font-weight: bold;
}


.squareB:nth-child(odd){
background-color: #6c7482;
color:white;
}

.squareW:nth-child(even){
    background-color:#6c7482;
    color:white;
}

.rankFile >#r{
    background-image:url("./assets/images/black/blkRook.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 70%;
}

.rankFile > #n{
    background-image:url("./assets/images/black/blkKnight.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 70%;
}

.rankFile > #b{
    background-image:url("./assets/images/black/blkBishop.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 70%; 
}

.rankFile > #q{
    background-image:url("./assets/images/black/blkQueen.png");
    background-repeat: no-repeat;
    background-position: bottom; 
    background-size: 70%;
}

.rankFile > #k{
    background-image:url("./assets/images/black/blkKing.png");
    background-repeat: no-repeat;
    background-position: bottom; 
    background-size: 70%;
}

.rankFile >#p{
    background-image:url("./assets/images/black/blkPawn.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 70%;
}

.rankFile > .validMove {
    border: .125em solid crimson;
}

.rankFile>#r:hover, .rankFile>.validMove, .rankFile>#p:hover, .rankFile>#b:hover, .rankFile>#k:hover, .rankFile>#q:hover,.rankFile>#n:hover{
    cursor: pointer;
}

.rankFile > #R{
    background-image:url("./assets/images/white/whiteRook.png");
    background-repeat: no-repeat;
    background-position: bottom;  
    background-size: 70%;
}

.rankFile > #N{
    background-image:url("./assets/images/white/whiteKnight.png");
    background-repeat: no-repeat;
    background-position: bottom;  
    background-size: 70%;
}

.rankFile > #B{
    background-image:url("./assets/images/white/whiteBishop.png");
    background-repeat: no-repeat;
    background-position: bottom;  
    background-size: 70%;
}

.rankFile > #K{
    background-image:url("./assets/images/white/whiteKing.png");
    background-repeat: no-repeat;
    background-position: bottom;  
    background-size: 70%;
}

.rankFile > #Q{
    background-image:url("./assets/images/white/whiteQueen.png");
    background-repeat: no-repeat;
    background-position: bottom;  
    background-size: 70%;
}

#P{
    background-image:url("./assets/images/white/whitePawn.png");
    background-repeat: no-repeat;
    background-position: bottom;  
    background-size: 70%;  
}

#K:hover, #Q:hover, #N:hover, #R:hover, #B:hover, #P:hover{
    cursor: pointer;
}