*{
    box-sizing: border-box;
}

body, html{
    background-image:linear-gradient(90deg, #003366, #69D5FF);
    height:100%;
    margin:0%;
    display:grid;
}

.container{
    display:grid;
    margin:auto;
    border:1px solid black;
}

.chessboard{
background-color:#eeeeee;
z-index: 3px;
border:2px solid black;
max-height: fit-content;
margin:auto;
}

.rankFile{
    display:grid;
    width:fit-content;
    grid-template-columns: repeat(8, 5em);
    grid-template-rows: 5em;
    font-weight: bold;
}


.squareB:nth-child(odd){
background-color: #6c7482;
color:white;
}

.squareW:nth-child(even){
    background-color:#6c7482;
    color:white;
}

.rankFile >.r{
    background-image:url("./assets/images/black/blkRook.png");
    background-repeat: no-repeat;
    background-position: bottom;
}

.rankFile>.r:hover, .rankFile>.p:hover{
    cursor: pointer;
}

.rankFile >.p{
    background-image:url("./assets/images/black/blkPawn.png");
    background-repeat: no-repeat;
    background-position: bottom;
}